body {
  background-image: url(pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(29, 190, 26);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 20px;
}

.search {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

.section {
  margin-left: 600px; 
}

@media all and (max-width: 1500px){
  .section {
    margin-left: 350px; 
}
}

@media all and (max-width: 1300px){
  .section {
    margin-left: 270px; 
}
}

@media all and (max-width: 600px){
  .section {
    margin-left: 70px; 
}

p {
  font-size: 12px;
}
}

@media all and (max-width: 500px){
p {
  font-size: 17px;
}
}


